@font-face {
    font-family: 'SourGummy-Bold';
    src: url('../Fonts/Sour_Gummy/static/SourGummy-Bold.ttf');
  }

@font-face {
    font-family: 'SourGummy-Light';
    src: url(../Fonts/Sour_Gummy/static/SourGummy-Light.ttf);
}

@font-face {
  font-family: 'SourGummy-Medium';
  src: url(../Fonts/Sour_Gummy/static/SourGummy-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topnav {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

/* Logo style */
.logo-PuppyPath{
    height: 50px;
    width: auto;
}

.topnav a {
    display: block;
    color: #1e4b57;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 16px;
    font-family: "SourGummy-Bold", sans-serif;
    height: 100%;
    font-weight: bold;
    line-height: 2;
    transition: transform 0.3s ease; /* Para sa smooth transition */
}

/* Separate style for active link */
.topnav a.active {
    background-color: #e42e00;
    color: #ffffff;
}

.topnav a.active:hover {
    color: white;
}

.dropdown:hover .dropbtn,
.topnav a:hover:not(.no-hover, #logo, .btnSurrender, .btnAdopt ) {
    background-color: #e6471f;
    color: rgb(255, 255, 255);
    transition: background-color 0.2s ease;
}


/* Dropdown styles */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    font-weight: bold;
    outline: none;
    color: #1e4b57;
    padding: 14px 16px;
    background-color: inherit;
    line-height: 2;
    height: 100%;
    transition: transform 0.3s ease; /* Para sa dropdown button */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #e42e00a8;
}

.dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
    text-align: left;
    height: 100%;
    line-height: 2;  
    transform: background-color 0.3s ease;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    transform: scale(1.1);
    background-color: #e42e00 !important;
    color: #000000;
}

.container-adopt-surren {
    margin-left: 430px;
    display: flex; /* Arrange child elements in a row */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Add spacing between buttons */
    margin-top: 0px; /* Add some spacing above */
}


.container-adopt-surren .btnAdopt {
    position: relative;
    border: 2px solid #e42e00;
    background: none;
    margin-left: 30px;
    padding: 6px 25px;
    font-weight: bolder;
    color: #1e4b57;
    font-size: 16px;
    border-radius: 7px;
    transition: color 0.4s linear;
    cursor: pointer;
    z-index: 1010;
}

.container-adopt-surren .btnAdopt:hover {
    color: #ffffff;
}

.container-adopt-surren .btnAdopt::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e42e00;
    z-index: -1;
    transition: transform 1.1s cubic-bezier(0.7, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    transform-origin: top;
}

.container-adopt-surren .btnAdopt:hover::before {
    transform: scaleY(1);
}

.container-adopt-surren .btnSurrender {
    position: relative;
    border: 2px solid #e42e00;
    background: none;
    padding: 6px 9px;
    font-weight: bolder;
    color: #1e4b57;
    font-size: 16px;
    border-radius: 7px;
    transition: color 0.4s linear;
    cursor: pointer;
    z-index: 1010;
}

.container-adopt-surren .btnSurrender:hover {
    color: #ffffff;
}

.container-adopt-surren .btnSurrender::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e42e00;
    z-index: -1;
    transition: transform 1.1s cubic-bezier(0.7, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    transform-origin: top;
}

.container-adopt-surren .btnSurrender:hover::before {
    transform: scaleY(1);
}


.search-icon, 
.account-icon {
    display: inline-flex;
    align-items: center;
    padding: 0; /* Remove extra padding */
    margin: 0;
}

.account-icon {
    margin-left: -10px; /* Adjust to control the spacing */
    margin-right: -5px;
}

.search-icon a, .account-icon a {
    display: flex;
    align-items: center;
}


.search-icon a i,
.account-icon a i {
    transition: all 0.3s linear;
}


.search-icon a:hover i,
.account-icon a:hover i {
    transform: scale(1.5);
}



.footer{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  text-align: center;
  border-top: 5px solid #e42e00;
}

.footer-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0; 
}

.footer-section-1{
  margin: 50px 0px 0px 66px;
  font-size: 14px;
  font-family: sourgummy-Light;
  color: orangered;
  font-weight: bolder;
}

.footer form{
  display: flex;
  align-items: center;
}

.footer form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  margin: 11px 5px 11px 0px;
  transition: border-color 0.3s ease;
}
.footer form input:focus{
  border: .5px solid #000000;
  outline: none;
}

.footer form button{
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 11px 10px 11px 10px;
  background-color: #e42e0093;
  color: white;
  font-family: 'SourGummy-Light';
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}
.footer form button:active{
  transform: scale(0.95); 
}


.footer-section-2{
  margin: 0px 30px 0px 136px;
  font-family: sourgummy-Light;
}

.footer-section-2 .logo-footer img{
  height: 100px;
  width: auto;
}
.footer-section-2 p{
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: orangered;
}


.footer-section-3{
  margin: 20px 0px 0px 110px;
  font-size: 12px;
}

.footer-section-3  i{
  font-size: 25px;
  color: grey;
  cursor: pointer;
  letter-spacing: 13px;
  transition: color 0.2s ease, font-weight 0.2s ease;
  margin-bottom: 2px;
}

.footer-section-3 .fa-tiktok{
  font-size: 22px;
  transform: translateY(-4px);
  margin-left: 3px;
}

.ri-instagram-fill{
  margin-left: 18px;
}


.footer-section-3 i:hover{
  font-weight: bolder;
  color: orangered;
}

.footer-section-3 p{
  font-size: 14px;
  font-weight: bold;
  color: grey;
  line-height: 2.4;
  cursor: pointer;
  letter-spacing: 1px;
  transition: color 0.2s ease, font-weight 0.2s ease;
  font-family: SourGummy-Light;
}

.footer-section-3 p:hover{
  font-weight: bolder;
  color: orangered; 
}

.footer-bottom {
  margin: none;
  text-align: center;
  font-size: 12px;
  margin-left: 76px;
  margin-bottom: 10px;
  font-family: SourGummy-Light;
  font-weight: bold;

}


  .highlight{
    color: #e42e00;
    font-weight: bold;
  }

  .donate-content{
    border-bottom: 2px solid #d42e05;
  }

  .dog-wallpaper{
    width: 100%;
    max-width: 750px;
    height: 100%;
    max-height: 430px;
    display: block;
  }

  .donate-text-title{
    position: absolute;
    top: 110px;
    right: 70px;
    font-size: 3em;
    color: #e42e00;
    font-family: SourGummy-Bold, sans-serif;
  }

  .donate-text-p{
    position: absolute;
    top: 200px;
    right: 1%;
    font-size: 1.7em;
    font-family: SourGummy-Light, sans-serif;
  }


  .e-bank-container{
    padding-top: 40px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(236, 236, 189);
  } 

  .choose-bank{
    font-size: 36px;
    padding-bottom: 20px;
    font-family: 'SourGummy-Bold';
    letter-spacing: 2px;
    color: #e42e00;
  }


  .e-bank-container .image-container{
    display: inline;
  }

  .image-container img{
    max-width: 200px;
    filter: brightness(70%);
    transition: filter .20s;
    cursor: pointer;
    margin: 0 14px 0 14px;
  }

  .image-container img:hover{
    filter: brightness(140%);
  }

    #gcash{
      width: 100%;
      max-width: 150px;
      margin-bottom: -16px;
      margin-left: -10px;

    }
    #paymaya{
      width: 100%;
      max-width: 180px;
    }
    #unionbank{
      width: 100%;
      max-width: 200px;
    }
    #bdo{
      width: 100%;
      max-width: 80px;
      margin-bottom: 16px;
    }
    #bpi{
      width: 100%;
      max-width: 150px;
      margin-bottom: -8px;
    }

    /* Thank You Popup Styles */
    .thankYou {
      position: fixed;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      background: rgba(233, 233, 201, 0.9);
      border-radius: 6px;
      padding: 40px 30px 30px; /* You can adjust the padding to ensure enough space */
      color: rgba(0, 0, 0, 0.808);
      opacity: 0;
      transition: opacity 0.8s ease, transform 0.8s ease;
      pointer-events: none;
      max-height: calc(100vh - 80px);
      overflow: auto;
      z-index: 1000;

    }
    


.thankYou.show {
  transform: translate(-50%, -10%);
  opacity: 1;
}

.thankYou img {
  width: 150px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thankYou h1 {
  font-family: 'sourGummy-Bold';
  letter-spacing: 2px;
  font-size: 58px;
  color:orangered;
  margin: 0px 0 10px;
  text-align: center;
}

.thankYou p {
  font-size: 22px;
  font-family: 'sourGummy-Medium';
  margin-bottom: 50px;
  text-align: center;
}

.thankYou a {
  width: 100%;                    
  margin-top: 50px;
  margin-left: 153px;  
  padding: 10px 130px;
  background-color: #e42e00;
  color: rgba(0, 0, 0, 0.808);
  text-decoration: none;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-family: 'sourGummy-Medium';
  pointer-events: painted;
}

.thankYou a:hover {
  background-color: #d73800;
}
