@font-face {
  font-family: 'SourGummy-Bold';
  src: url('../Fonts/Sour_Gummy/static/SourGummy-Bold.ttf');
}

@font-face {
  font-family: 'SourGummy-Light';
  src: url(../Fonts/Sour_Gummy/static/SourGummy-Light.ttf);
}

@font-face {
font-family: 'SourGummy-Medium';
src: url(../Fonts/Sour_Gummy/static/SourGummy-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topnav {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

/* Logo style */
.logo-PuppyPath {
    height: 50px;
    width: auto;
    pointer-events: none;
}

/* General link style */
.topnav a {
    display: block;
    color: #1e4b57;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 16px;
    font-family: "SourGummy-Bold", sans-serif;
    height: 100%;
    font-weight: bold;
    line-height: 2;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

/* Hover style for all links */
.topnav a:hover:not(.no-hover, .btnSurrender, .btnAdopt){
    background-color: #e42e00;
    color: white; /* Ensure text is readable */
}

/* Style for active link */
.topnav a.active {
    background-color: #e42e00;
    color: #ffffff;
}

/* Allow hover effect on the active link */
.topnav a.active:hover {
    background-color: #d12800; /* Slightly darker hover effect */
    color: #ffffff; /* Keep text white */
}


.container-adopt-surren {
    margin-left: 430px;
    display: flex; /* Arrange child elements in a row */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Add spacing between buttons */
    margin-top: 0px; /* Add some spacing above */
}

.container-submit {
  margin-left: 270px;
  padding-top: 30px;
  margin-bottom: 50px;
}

.container-submit .sbmtAdopt{
  border: 2px solid #e42e00;
  background: none;
  text-decoration: none;
  padding: 14px 22px;
  font-weight: 500;
  color: #1e4b57;
  font-size: 20px;
  border-radius: 7px;
  transition: background-color 0.9s ease, color 0.7s ease, box-shadow 0.9s ease;;
  cursor: pointer;
  font-family: sans-serif;
}

.container-submit .sbmtAdopt:hover{
  color: #ffffff;
  background-color: #e42e00;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.514);
}

.container-adopt-surren .btnAdopt {
    position: relative;
    border: 2px solid #e42e00;
    background: none;
    margin-left: 30px;
    padding: 6px 25px;
    font-weight: bolder;
    color: #1e4b57;
    font-size: 16px;
    border-radius: 7px;
    transition: color 0.4s linear;
    cursor: pointer;
    z-index: 1010;
}

.container-adopt-surren .btnAdopt:hover {
    color: #ffffff;
}

.container-adopt-surren .btnAdopt::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e42e00;
    z-index: -1;
    transition: transform 1.1s cubic-bezier(0.7, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    transform-origin: top;
}

.container-adopt-surren .btnAdopt:hover::before {
    transform: scaleY(1);
}

.container-adopt-surren .btnSurrender {
    position: relative;
    border: 2px solid #e42e00;
    background: none;
    padding: 6px 9px;
    font-weight: bolder;
    color: #1e4b57;
    font-size: 16px;
    border-radius: 7px;
    transition: color 0.4s linear;
    cursor: pointer;
    z-index: 1010;
}

.container-adopt-surren .btnSurrender:hover {
    color: #ffffff;
}

.container-adopt-surren .btnSurrender::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e42e00;
    z-index: -1;
    transition: transform 1.1s cubic-bezier(0.7, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    transform-origin: top;
}

.container-adopt-surren .btnSurrender:hover::before {
    transform: scaleY(1);
}


.search-icon, 
.account-icon {
    display: inline-flex;
    align-items: center;
    padding: 0; /* Remove extra padding */
    margin: 0;
}

.account-icon {
    margin-left: -10px; /* Adjust to control the spacing */
    margin-right: -5px;
}

.search-icon a, .account-icon a {
    display: flex;
    align-items: center;
}


.search-icon a i,
.account-icon a i {
    transition: all 0.3s linear;
}


.search-icon a:hover i,
.account-icon a:hover i {
    transform: scale(1.5);
}



.footer{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  text-align: center;
  border-top: 5px solid #e42e00;
}

.footer-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0; 
}

.footer-section-1{
  margin: 50px 0px 0px 66px;
  font-size: 14px;
  font-family: sourgummy-Light;
  color: orangered;
  font-weight: bolder;
}

.footer form{
  display: flex;
  align-items: center;
}

.footer form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  margin: 11px 5px 11px 0px;
  transition: border-color 0.3s ease;
}
.footer form input:focus{
  border: .5px solid #000000;
  outline: none;
}

.footer form button{
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 11px 10px 11px 10px;
  background-color: #e42e0093;
  color: white;
  font-family: 'SourGummy-Light';
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}
.footer form button:active{
  transform: scale(0.95); 
}


.footer-section-2{
  margin: 0px 30px 0px 136px;
  font-family: sourgummy-Light;
}

.footer-section-2 .logo-footer img{
  height: 100px;
  width: auto;
}
.footer-section-2 p{
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: orangered;
}


.footer-section-3{
  margin: 20px 0px 0px 110px;
  font-size: 12px;
}

.footer-section-3  i{
  font-size: 25px;
  color: grey;
  cursor: pointer;
  letter-spacing: 13px;
  transition: color 0.2s ease, font-weight 0.2s ease;
  margin-bottom: 2px;
}

.footer-section-3 .fa-tiktok{
  font-size: 22px;
  transform: translateY(-4px);
  margin-left: 3px;
}

.ri-instagram-fill{
  margin-left: 18px;
}


.footer-section-3 i:hover{
  font-weight: bolder;
  color: orangered;
}

.footer-section-3 p{
  font-size: 14px;
  font-weight: bold;
  color: grey;
  line-height: 2.4;
  cursor: pointer;
  letter-spacing: 1px;
  transition: color 0.2s ease, font-weight 0.2s ease;
  font-family: SourGummy-Light;
}

.footer-section-3 p:hover{
  font-weight: bolder;
  color: orangered; 
}

.footer-bottom {
  margin: none;
  text-align: center;
  font-size: 12px;
  margin-left: 76px;
  margin-bottom: 10px;
  font-family: SourGummy-Light;
  font-weight: bold;

}


    
    /*
    Design of Forms starts here
    */
  


  .form-content{
    display: flex;
  }


  table{
    margin-right: 40px;
  }

  input::placeholder{
    font-family: sans-serif;
  }

  .title-surrender-Form, .dog-info-h3{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e42e00;
    font-weight: bolder;
  }

  .questions-below{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e42e00;
    font-weight: bold;
  }

  .surrender-form p{
    font-size: 18px;
    font-weight: bolder;
    font-family: serif;
    margin-left: 20px;
    margin-bottom: 6px;
    font-family: sans-serif;
    color: #1e4b57;
  }

  .surrender-form select{
    width: 100%; 
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #f5481d88;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 34px;
  }  

  .surrender-form input{
    width: 100%; 
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #f5481d88;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 34px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.surrender-form td{
    padding: 10px;
 }

 .vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: auto; 
  margin: 0 40px 0 40px;
}


.questionnaire-B div{
  margin-top: 10px;
}


.questionnaire-B p{
  font-size: 18px;
  font-weight: bolder;
  font-family: serif;
  margin-left: 10px;
  margin-bottom: 6px;
  margin-top: 20px;
  font-family: sans-serif;
  color: #1e4b57;
}

.questionnaire-B textarea{
  min-width: 600px;
  padding: 20px;
  display: block;
  border: 2px solid #f5481d88;
  border-radius: 5px;
  margin-left: 24px;
  margin-top: 26px;
  font-family:Arial, Helvetica, sans-serif;
}


.questionnaire-B input[type="radio"]{
  margin-top: 10px;
  margin-left: 40px;
}

.questionnaire-B input[type="radio"] + label{
  font-family: sans-serif;
  font-size: 18px;

}

textarea::placeholder {
  font-family: sans-serif;
  font-size: 14px;
}


.dog-info-special p{
  font-size: 18px;
  font-weight: bolder;
  font-family: serif;
  margin-left: 42px;
  margin-bottom: 6px;
  margin-top: 18px;
  font-family: sans-serif;
  color: #1e4b57;
}

.dog-info-special input{
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #f5481d88;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-top: 4px;
}

.dog-info-special label{
  font-family: sans-serif;
  font-size: 18px;
}

.special-input input{
  width: 460px; 
}

.dog-info-vaccineNeutere p{
  font-size: 18px;
  font-weight: bolder;
  font-family: serif;
  margin-left: 42px;
  margin-bottom: 6px;
  margin-top: 18px;
  font-family: sans-serif;
  color: #1e4b57;
}


.dog-info-vaccineNeutere input[type="radio"]{
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 30px;
}

.dog-info-vaccineNeutere input[type="radio"] + label{
  font-family: sans-serif;
  font-size: 18px;

}

input.surrender-num3 {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #f5481d88;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 26px;
  margin-top: 8px;
}

input[type="text"].surrender-num3{
  font-size: 14px;
}

div p.number3 {
  margin-top: 40px;
}



#drop-area{
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 20px;

}

p.upload-image{
  font-family: sans-serif;
  color: black;
  font-weight: 100;
}

#img-view{
  margin-left: 30px;
  width: 580px;
  height: 350px;
  border-radius: 20px;
  border: 2px dashed #bbb5ff;
  background: #f7f8ff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

#img-view img{
  width: 150px;
  margin-top: 25px;
}

#img-view span{
  display: block;
  font-size: 12px;
  color: #777;
  margin-top: 15px;
  margin-bottom: 25px;
}




.thankYou {
  width: 400px;
  background-color: rgba(233, 233, 201, 0.8);
  border-radius: 6px;
  position: absolute;
  bottom: -150%;
  left: 48%;
  transform: translate(-50%, 10%);
  text-align: center;
  padding: 0 30px 30px;
  color: rgba(0, 0, 0, 0.808);
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease; 
  pointer-events: none;
}
.thankYou.show {
  transform: translate(-50%, -10%); 
  opacity: 1; 
}


.thankYou img {
  width: 150px;
  margin-top: -50px;

}

.thankYou h1 {
  font-family: SourGummy-Bold, sans-serif;
  letter-spacing: 2px;
  color:orangered;
  font-size: 58px;
  margin: 0px 0 10px;
}

.thankYou p {
  font-size: 22px;
  font-family: SourGummy-Light, sans-serif;
  margin-bottom: 50px;
}

.thankYou a {
  width: 100%;
  margin-top: 50px;
  padding: 10px 130px;
  background-color: #e42e00;
  color: white;
  text-decoration: none;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-family: SourGummy-Medium, sans-serif;
  pointer-events: auto;
}

